html {
	min-height: 100%;
	background: #4b79a1;
	background: linear-gradient(to top, #0b3961, #000011);
}

body {
	margin: 0;
	padding-top: 5%;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	font-family: 'Poiret One', 'Arial', sans-serif !important;
	font-size: 30px;
}

a {
	color: white;
	font-size: 30px;
	font-family: 'Poiret One', 'Arial', sans-serif !important;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
	-webkit-transition: all .2s;
			transition: all .2s;
}

a:link {
	color: white;
}

a:hover {
	border-bottom: 1px solid white;
	text-shadow: 0 0 3px yellow;
}

a:active {
	text-shadow: 0 0 3px red;
}
