@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@keyframes star-1 {
	0% { transform: rotate(120deg); }
	100% { transform: rotate(480deg); }
}

@keyframes star-2 {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes star-3 {
	0% { transform: rotate(270deg); }
	100% { transform: rotate(630deg); }
}

body {
	margin: 0;
	padding-top: 5%;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Poiret One', 'Arial', sans-serif;
	font-size: 5vh;
	color: white;
}

a {
	font-family: 'Poiret One', 'Arial', sans-serif;
	font-size: 5vh;
	color: white;
	transition: all .4s;
}

a:link {
	color: white;
}

a:hover {
	text-shadow: 0 0 3px yellow;
}

a:active {
	text-shadow: 0 0 3px red;
}

.sky {
	/* container */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

.sky > .background {
	/* background */
	position: absolute;
	width: 100%;
	height: 100%;
	background: #4B79A1;
	background: -webkit-linear-gradient(to top, #4B79A1, #283E51);
	background: linear-gradient(to top, #4B79A1, #283E51);
	filter: brightness(30%);
}

.sky > i {
	/* star axis needed to rotate*/
	position: absolute;
	bottom: 50%;
	left: 50%;
	display: inline-block;
	content: " ";
	width: 10vh;
	transform-origin: center bottom;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.sky > i > i {
	/* star itself */
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 
		0 100px 1px white,
		100px 0 1px white;
}
