@font-face {
  font-family: 'NB Akademie';
  src: url('NBAkademieStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NB Akademie';
  src: url('nb_akademie_std_medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  /* background-color: black; */
  font-family: "NB Akademie", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  /* color: white; */
}

h1 {
  font-family: "NB Akademie", sans-serif;
  font-size: 72px;
  font-weight: normal;
  /* color: white; */
  line-height: 1.2;
}

@media (max-width: 550px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }
}

body {
  margin: 64px auto;
  max-width: 700px;
  padding: 0 32px;
}

p + p {
  margin-top: 32px;
}

a {
  text-decoration: none;
  /* color: white; */
  background: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="1"%3E%3Crect x="0" y="0.5" width="1" height="0.5" fill="rgba(255, 255, 255, 0.55)"/%3E%3C/svg%3E') left bottom repeat-x;
  transition:
    color 300ms ease-out,
    box-shadow 300ms ease-out;
}

footer > a {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  background: none;
  margin: 16px;
  transition: filter 300ms;
}

a:hover,
a:active,
a:focus {
  outline: none;
  box-shadow: inset 0 -1px #3000c1;
  color: #3000c1;
  transition:
    color 0s,
    box-shadow 0s;
}

footer > a:hover,
footer > a:focus,
footer > a:active {
  box-shadow: none;
  background: none;
  filter: invert(50%);
  transition: filter 0s;
}

.bio {
  position: relative;
  list-style-type: none;
  padding-left: 32px;
  line-height: 2;
  margin-top: 24px;
}

.bio::before {
  content: '';
  display: block;
  border-left: 1px dotted black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
}

.bio .milestone {
  font-size: 24px;
  list-style-type: square;
  margin: 16px 0;
}

.bio :not(.milestone) {
  font-size: 14px;
}

.bio .milestone:last-child {
  list-style-type: none;
  margin-top: 64px;
}

footer {
  margin-top: 72px;
  word-spacing: 32px;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter + .filter {
  margin-top: 8px;
}

.filter > :first-child {
  margin-right: 8px;
}

.filter > :last-child {
  line-height: 1;
  display: inline-block;
  margin-top: 3px;
}

.bio > li:not([data-category]):not(.meta) {
  display: none;
}

.bio[data-categories~="personal"][data-categories~="certificates"][data-categories~="education"][data-categories~="talks"][data-categories~="projects"] > li:not([data-category]) {
  display: list-item;
}

.bio > [data-category] {
  display: none;
}

.bio[data-categories~="personal"] > [data-category~="personal"] { display: block; }
.bio[data-categories~="certificates"] > [data-category~="certificates"] { display: block; }
.bio[data-categories~="education"] > [data-category~="education"] { display: block; }
.bio[data-categories~="talks"] > [data-category~="talks"] { display: block; }
.bio[data-categories~="projects"] > [data-category~="projects"] { display: block; }

.time:not(:empty)::after {
  display: inline;
  content: " – ";
}

.time:not(:empty) ~ span {
  text-transform: lowercase;
}

.time {
  font-family: monospace;
}

::selection {
  background: black;
  color: white;
}
