@keyframes northern {
	/*  Awesome effect by Lunar Logic
		http://blog.lunarlogic.io/2016/let-your-website-cast-the-northern-lights-auroral/
	*/
	0% { transform: translate(5%, -2%); }
	25% { transform: translate(10%, 7%); }
	40% { transform: rotate(-10deg); }
	60% { transform: translate(7%, -2%); }
	85% { transform: translate(6%, 3%) rotate(12deg); }
	100% { transform: none; }
}

.aurora {
	position: fixed;
	z-index: -2;
	opacity: 1;
}

.aurora > i {
	/*  Awesome effect by Lunar Logic
		http://blog.lunarlogic.io/2016/let-your-website-cast-the-northern-lights-auroral/
	*/
	position: fixed;
	left: -50%;
	top: -10%;
	width: 200%;
	height: 200%;
	animation-name: northern;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, transparent 70%);
}
