html {
	min-height: 100%;
	background: #4b79a1;
	background: linear-gradient(to top, #0b3961, #000011);
}

body {
	margin: 0;
	padding-top: 5%;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	font-family: 'Poiret One', 'Arial', sans-serif;
	font-size: 30px;
}

ul {
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;
	color: white;
	font-family: 'Poiret One', 'Arial', sans-serif;
	line-height: 1.5;
	list-style-type: none;
}

li > a {
	font-size: 25px;
}

a {
	color: white;
	font-size: 30px;
	font-family: 'Poiret One', 'Arial', sans-serif;
	text-decoration: none;
	cursor: pointer;
	
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="1"%3E%3Crect x="0" y="0.5" width="1" height="0.5" fill="rgba(255, 255, 255, 0.5)"/%3E%3C/svg%3E');
	background-position: left bottom;
	background-repeat: repeat-x;
	transition: all .2s;
}

a:link {
	color: white;
}

a:hover {
	color: #ffff97;
}

a:focus {
	outline: none;
	color: #ffff97;
}

@supports (filter: drop-shadow(0 0 .8px yellow)) {
	a:hover {
		color: white;
		filter: drop-shadow(0 0 .8px yellow);
	}

	a:focus {
		color: white;
		filter: drop-shadow(0 0 .8px yellow);
	}
}

a:active {
	text-shadow: 0 0 3px red;
}

button {
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	background: none;
	border: 1px solid white;
	border-radius: 9px;
	transition: all .2s;
	cursor: pointer;
}

button:hover {
	color: #ffff97;
	border-color: #ffff97;
}

button:focus {
	outline: none;
	color: #ffff97;
	border-color: #ffff97;
}

@supports (filter: drop-shadow(0 0 .8px yellow)) {
	button:hover {
		color: white;
		border-color: white;
		filter: drop-shadow(0 0 .8px yellow);
	}

	button:focus {
		color: white;
		border-color: white;
		filter: drop-shadow(0 0 .8px #ffff97);
	}
}

::selection {
	color: black;
	background-color: rgba(255, 255, 255, .7);
}
